{% extends "site_base.html" %}

{% load i18n %}
{% load dcl_sites %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Page not found" %}</h1>
        <p class="lead">{% trans "We're sorry but that page could not be found." %}</p>

        {% if menu %}
        <p class="lead">{% trans "Perhaps you will be interrested by one of these" %}</p>
        <ul>
            <li>
                <a href="{{ menu.url }}" title="{{ menu.title }}">{{ menu.title }}</a>
            </li>
        {% for name, child in menu.children.items %}
            <li>
                <a href="{{ child.url }}" title="{{ child.title }}">{{ child.title }}</a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </header>
{% endblock %}
