{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <p class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </p>
        {% if request.user.is_staff %}
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Staff</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/_domain/">Domain</a>
                </li>
                <li>
                    <a href="/_directory{{ request.path_info }}">Directory</a>
                </li>
                <li>
                    <a href="/_content{{ request.path_info }}">File</a>
                </li>
            </ul>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
        </li>
        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        {% comment %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
        {% endcomment %}
    {% endif %}
    {% for language, item in url.languages_menu.items %}
    <li>
        <a href="{{ item.url }}" title="{{ item.title }}">{{ language }}</a>
    </li>
    {% endfor %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
