<div class="row full-width">
    <div class="col-xs-12 col-sm-3 columns">
        <i class="fi-laptop"></i>
        <h4>{{ SITE_NAME }}</h4>
        <p>
        {% for info in language.metadata.contact.values %}
            {{ info|linebreaksbr }}
        {% endfor %}
            </br>
            &copy; 2016 {{ SITE_NAME }}
            </br>
            website powered by
            <a href="http://django-cms-light.com" title="Multi tenant KISS CMS">Django CMS Light CMS</a>
            <a href="https://gitlab.com/yourlabs/django-cms-light" title="Django CMS Light">Open Source</a>
        </p>
    </div>

    <div class="col-xs-12 col-sm-6 columns">
        <h4>SiteMap</h4>
        <ul class="footer-links">
            {% for page in language.menu %}
            <li>
                <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        <ul>
    </div>

    <div class="col-xs-12 col-sm-3 columns">
        <h4>External</h4>
        <ul class="footer-links">
            {% for friend in language.metadata.friends %}
            <li>
                <a href="{{ friend.url }}" title="{% if friend.title %}{{ friend.title }}{% else %}{{ friend.name }}{% endif %}">{{ friend.name }}</a>
            </li>
            {% endfor %}
        <ul>
    </div>
</div>
