<ul class="{{ class }}">
    {% for page in pages %}
    <li class="{% if page.children %}dropdown{% endif %}">
        <a
            {% if page.children %}
            style="padding-right: 4px;"
            {% endif %}
            href="{{ page.url }}"
            title="{{ page.title }}"
            >{{ page.menu_title }}</a>
    </li>
    {%  if page.children %}
    <li>
        <a
            href="#"
            title="{{ page.title }}"
            class="dropdown-toggle"
            data-toggle="dropdown"
            style="padding-left: 0"
            ><b class="caret"></b></a>
    {%   include '_menu.html' with pages=page.children class="dropdown-menu" %}
    {%  endif %}
    </li>
    {% endfor %}
</ul>
