{% load staticfiles %}
{% load dcl_sites %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <script type="text/javascript">
        function handleResize() {
            var footer = document.getElementsByTagName('footer')[0];
            var navbar = document.getElementsByClassName('navbar')[0];
            var body = document.getElementById('content-body');
            var stretch = document.getElementsByClassName('stretch');
            var title = footer.getElementsByTagName('h4')[0];

            body.style.minHeight = document.documentElement.clientHeight - title.offsetHeight + 'px';
            for (var i=0; i<stretch.length; i++) {
                // -180 to compensate for padding (75*2) and let a bit of room for footer
                stretch[i].style.minHeight = document.documentElement.clientHeight - 180 + 'px';
            }
        }

        document.addEventListener('DOMContentLoaded', handleResize, false);
        </script>

        {% block styles %}{% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
        {% endblock %}

        {{ domain.extra_head|safe }}
        <style type="text/css">
        {% if domain.style %}
            {{ domain.style|safe }}
        {% endif %}
        {% if url.content.directory.background %}
            #content-body * {
                color: white;
            }
        {% endif %}
        </style>

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %}{% endblock %}>
        <div id="body-container" class="{% block wrapper_class %}{% endblock %}{% if url.content.directory.background %}lazyload{% endif %}" {% if url.content.directory.background %}{{ url.content.directory.background|bgset }} style="background-image: url({{ url.content.directory.background|thumbnail_url:'150w' }})"{% endif %}>

            {% block topbar_base %}
                <header>
                    <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top{% endblock %}">
                        <div class="container">
                        {% block topbar %}
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="fa fa-bars"></span>
                                </button>
                                {% block site_brand %}<a class="navbar-brand" href="/{{ request.LANGUAGE_CODE }}">{{ SITE_NAME }}</a>{% endblock %}
                            </div>
                            <div class="collapse navbar-collapse navbar-responsive-collapse">
                                {% block nav %}
                                    {% include '_menu.html' with pages=language.menu class="nav navbar-nav" %}
                                {% endblock %}
                                {% block account_bar %}
                                    {% include "_account_bar.html" %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block body_base %}
                <section id="content-body">
                    <div class="container">
                        {% include "_messages.html" %}
                        {% block body %}
                        <div id="page_container">
                            <div id="page">
                                {% block page %}{% endblock %}
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </section>
            {% endblock %}

            {% block footer_base %}
                <footer>
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </footer>
            {% endblock %}
        </div>

        <script type="text/javascript">
        (function() {
            var throttle = function(type, name, obj) {
                obj = obj || window;
                var running = false;
                var func = function() {
                    if (running) { return; }
                    running = true;
                     requestAnimationFrame(function() {
                        obj.dispatchEvent(new CustomEvent(name));
                        running = false;
                    });
                };
                obj.addEventListener(type, func);
            };

            /* init - you can init any event */
            throttle('resize', 'optimizedResize');
        })();

        window.addEventListener('optimizedResize', handleResize);
        </script>

        {% block scripts %}{% endblock %}

        {% block theme_script %}
            <script src="{% static "pinax/js/theme.js" %}" async=""></script>
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        {{ domain.extra_body|safe }}
        {% if domain.script %}
        <script type="text/javascript">
            {{ domain.script|safe }}
        </script>
        {% endif %}
    </body>
</html>
