{% extends 'site_base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}Edit{% endblock %}

{% block body %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Modifications made here are NOT persistent and are meant for testing only
</div>

<form method="POST" action="" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Test" %}</button>
</form>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="https://usablica.github.io/widearea/widearea.js?v030"></script>
<link href="https://usablica.github.io/widearea/widearea.js?v030" rel="stylesheet">
<style type="text/css">

      textarea {
        height: 100px;
        width:100%;
        max-width: 100%;
        box-sizing:border-box;
        margin:0;
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        resize: none;
      }

      #widearea-container {
        border: 5px solid #eee;
        border-radius: 2px;
        box-shadow: 0px 1px 1px #ddd;
      }
</style>
<script type="text/javascript">
$(document).ready(function(){
wideArea()
})
</script>
{% endblock %}
