body {
    position: relative;
    overflow-x: hidden;
}

#body-container {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-collapse.in, {
    background-color: white;
    transition: background-color 0.3s ease;
}

section {
  padding: 75px 0;
  background-color: white;
}

.modal form {
  margin-bottom: 0px;
}
p.login-signup {
    margin-top: 20px;
}

.feature-columns {
    .make-row();

    > div {
        i.fa {
            margin-bottom: 0.2em;
        }
        .make-sm-column(4);
        .text-center;
        margin: 2em 0;
    }
}

.navbar-default {
  background-color: rgba(255, 255, 255, .9);
}

section {
  background-color: transparent;
}

// footer CSS
footer {
  background-color: fade(@navbar-inverse-bg, 90%);
  padding: 2rem 4rem;
  text-align: center;

  li {
    margin-top: .5em;
    list-style-type: none;
  }

  ul {
    padding: 0;
  }

  h4 {
    color: white;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }

  p, a {
    color: white;
  }
}

.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
