.art-cover {
    p {
        font-size: larger;
    }

    /* Foreground position */
    section * {
        color: white;
    }

    section a, section a:hover, section a:visited {
        text-decoration: underline;
        color: white;
    }

    #page_container {
        margin-top: 25%;
    }

    /* Badass animations */
    @keyframes slidein {
        0% { margin-top: 150%; }
        100% { margin-top: 1%; }
    }

    section h1, section p {
        animation-duration: 2s;
        animation-name: slidein;
        margin-top: 1%;
    }

    h1:nth-child(2) {
        animation-duration: 3s;
    }

    h1:nth-child(3) {
        animation-duration: 4s;
    }

    section p {
        animation-duration: 6s;
    }
}
